[2018-08-24 22:11] devesh1508 opened #1 "Issues when installing KDEpy"
When running python setup.py or pip install KDEpy (on python 2.7), get the following error
from KDEpy import __version__

def __init__(self, kernel: str, bw: float):
                             ^
SyntaxError: invalid syntax

[2018-08-25 05:47] tommyod commented on #1
I've been developing for Python 3.6.

I will look into whether it can be easily backported to Python 2.7.

What is your operating system @devesh1508 ?

[2018-08-25 23:32] devesh1508 commented on #1
The OS is Ubuntu 16.04. With python 3.6 (in a virtual env),
I get the following error
error: command 'x86_64-linux-gnu-gcc' failed with exit status 1
-Command "/homes/jha/KDE/bin/python3.6 -u -c "import setuptools, tokenize;__file__='/tmp/pip-install-tpyimiri/KDEpy/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec

[2018-08-26 06:49] tommyod commented on #1
Thank you for reporting this. This is the first time I've tried to distribute with Cython as a requirement. I've found some errors which I will fix. In the meantime, installing some dependencies *before* KDEpy works on my computer (Ubuntu 16.04 using Anaconda).

Create a fresh environment, then install dependencies *before* KDEpy.
[code]
Now everything seems to work.
[code]

Can you try installing

[2018-08-26 07:51] tommyod commented on #1
**Update:** Managed to ship a compiled `.c` file. The following now works for me.

I create an environment called `kde` with `numpy` installed, install KDEpy, test that it works, deactivate and delete the environment.

[code]

Can you give it a shot? Thanks.

[2018-08-26 10:09] tommyod opened #2 "Absolute path on Windows running pip install"
I'm getting the following error on my Windows machine trying to install from pip

[code]

I believe the lines

[code]

in `setup.py` are the culprit.

[2018-08-26 13:09] tommyod commented on #2
Resolved this issue, but Visual Studio C++ 14.0 is needed to build the package. I will try to distribute a wheel for Windows users.

[2018-08-27 00:04] devesh1508 commented on #1
Thanks for both the suggestions. One question before I try them-- Do I need anaconda? I use default python. Would it work without anaconda?

[2018-08-27 17:45] tommyod commented on #1
In principle you should not need anaconda. However, it's a great tool because it lets you install multiple Python environments in parallel -- that's how I'm able to create a "throwaway" environment for testing this particular problem. I would recommend Anaconda.

You're free to try without too of course(let me know how it goes!). I've been working on installation issues all day. I've managed to ge

[2018-08-27 18:02] tommyod commented on #2
Seemed to have solved this Issue using Appveyor for Windows testing and wheel deployment. Will close when I am certain it's relatively stable.

[2018-09-03 23:55] devesh1508 commented on #1
@tommyod  Sorry for a late reply. I did pip install KDEpy with python 3.6 and it works now. Thanks for all your help

[2018-09-04 18:59] tommyod commented on #1
Great to hear! Thanks for reporting, and for the patience.

[2018-09-04 18:59] #1 closed

[2018-09-20 08:19] alezanalp opened #4 "invalid syntax: msg = f'Kernel must be a string or callable. Options: {akernels}'"
Hi!
Have a problem with importing, I've tried
`from KDEpy import FFTKDE`
but have an error
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.5/dist-packages/KDEpy/__init__.py", line 5, in <module>
    from KDEpy.NaiveKDE import NaiveKDE
  File "/usr/local/lib/python3.5/dist-packages/KDEpy/NaiveKDE.py", line 11, in <module>
    from KDEpy.BaseK

[2018-09-20 14:18] tommyod commented on #4
Hello @alezanalp ! Thanks for reporting this. :)

Most likely it's due to your Python version not being 3.6 or 3.7. Can you run the following and check your version?
[code]

If it is indeed the case that your version is not 3.6 or 3.7, I suggest you upgrade. I can try to backport to 3.5, as this will likely be good for other uses too -- but no promises.

[2018-09-20 19:58] tommyod commented on #4
I didn't read your error closely enough - you're clearly on Python 3.5 (`/usr/local/lib/python3.5/dist-packages`).

Two options:
1. Try again. I've backported to Python 3.5 now, and it should hopefully work. Use `pip install --upgrade KDEpy`.
2. Upgrade to Python 3.6 og 3.7.

Let me know how it works out @alezanalp ! :+1:

[2018-09-21 08:35] alezanalp commented on #4
@tommyod thank you, the first option worked for me!

[2018-09-21 08:35] #4 closed

[2018-11-11 15:56] tommyod opened #6 "Anisotropic KDEs via PCA"
Currently, the bandwidth in `d` dimensions is `bw * np.eye(d)`---the covariance matrix is a multiple of the identity. As a result, the KDE works best if anisotropic data is shifted, rotatated and scaled before sent into the algorithm.

Having a routine for this built into the library would be nice.

@blasern suggested implementing anisotropic KDE. We agree that the following might work:
- Shift da

[2018-11-13 14:55] tommyod commented on #6
`linbin_Ndim` takes arbitrary data as input, and returns an axis-aligned grid with densities as output. So the answer is no.

However, I believe that it does not matter, since the whitening transform is performed before a grid is indued. An axis-aligned grid is induced on the rotated space `y`, when the KDE is computed. The result in the original space `x` is a non-axis aligned grid, along with a

[2018-11-13 15:34] blasern commented on #6
So I guess it depends on the `grid_points` argument to the `evaluate` method. According to the [documentation](https://kdepy.readthedocs.io/en/latest/API.html), this can be very different things. But in general it seems to create an axis-aligned grid from the original data. I definitely would want to be able to choose the grid myself.

If you use the second call to `linbin_Ndim` to transform a non

[2018-11-13 17:52] tommyod commented on #6
Very good points. I don't have all the answers, but some immediate thoughts:
- Creating an `AnisotropicKDE` class where the user may *not* specify a grid is one possibility. The user could still specify the number of grid points, but the software would choose a grid aligned with the principal axes. Whether the resulting grid is axis-aligned in a final computation could be a user-specified paramete

[2018-11-14 05:02] blasern commented on #6
I have a feeling that we are doing this wrong. Do we have to rotate and rescale the data? It may be easier to rotate and rescale the kernels. When initializing a kernel we already provide a variance, why not a rotation?

[2018-11-16 17:00] NotSpecial opened #7 "Memory corruption when using custom grid"
Hi!

An first of all, thank you for this great package, both the performance and ease-of-use are amazing.

However, I'm currently encountering an issue that leaves me scratching my head:
Sometimes, using a custom grid results in memory corruption, crashing the interpreter (or the IPython kernel in my case).

As far as I can tell, the the issues lies in the Cython code, as I don't think other parts

[2018-11-16 17:40] NotSpecial commented on #7
Further support that the issues lies within Cython:

If I turn off Cython support by setting:

[code]

The code above does not crash anymore.

[2018-11-17 10:20] tommyod commented on #7
Hi @NotSpecial , thanks for reporting this! Quick answer since I'm on my phone. This is likely due to data being outside of the grid. E.g. if you use linspace from 2 to 8, and a data point has value 9. Obviously the software should either just warn about the boundary bias, or raise an error - it should not crash. I hope this has not frustrated you too much, and i will fix it when i get the chance.

[2018-11-19 10:11] NotSpecial commented on #7
Hi, and thanks for your response, I finally had time to investigate further now.

You are right, the issue seems to be data points outside the grid. If I select a grid covering the whole range of data (e.g. `np.linspace(-705, 705)` for the example above), it does not crash anymore.

[2018-11-19 15:01] tommyod commented on #7
@NotSpecial great. I'll leave this open and fix the issue. Currently, I would recommend that you filter out some data prior to running FFTKDE, and then filter the rest afterwards. I haven't run the following code, but I hope it demonstrates what I mean.

[code]

[2018-11-19 16:45] NotSpecial commented on #7
Thanks for your response, this will work for me.

Knowing that the issues lies with data outside the grid alone helps me enough to avoid the problem. :)

Thank you as well for working on a fix!

[2018-11-23 18:16] tommyod commented on #7
Should be fixed now. Closing this Issue. Thanks again @NotSpecial .

[2018-11-23 18:17] NotSpecial commented on #7
Thank you! :)

[2018-12-11 17:48] NotSpecial commented on #7
Hi,

I have a little followup question, if you have some time:

[Here's](https://github.com/tommyod/KDEpy/blob/master/KDEpy/FFTKDE.py#L150) where you
now check whether the data is inside the grid. Is there a reason why the grid must be
strictly bigger than the data points? E.g. why is `max_grid == max_data` not allowed?

I was wondering if a `<=` check (and `>=` respectively) would also work or if

[2018-12-12 16:44] tommyod commented on #7
Hi again @NotSpecial,

I don't remember at the top of my head. I can check when I get some time :)

[2018-12-12 19:23] tommyod commented on #6
@blasern. Sorry for a very late reply.

Here's what I am thinking. Starting from randomly generate data.

[code]

[2018-12-13 14:15] blasern commented on #6
I approve of applying KDE on the output of a KDE. But I guess there are still some issues that need to be addressed:
- Should you use the same kernel allow different ones for the two steps?
- How should the two bandwidths be calculated? Should they be related to one another?
- Does this solve the problem of getting an anisotropic KDE? Or do we still have the same problem at the second KDE that is

[2018-12-13 18:09] tommyod commented on #6
@blasern There are valid issues. I have some thoughts, but it's easier to explain with a blackboard. I suggest we discuss this after Christmas :)

[2018-12-18 11:35] dkeih opened #8 "Please add a DOI to make your code easily citable"
Github provides an easy way to do so https://guides.github.com/activities/citable-code/

[2018-12-18 16:09] tommyod commented on #8
I've now added a DOI badge. I had no idea it was that easy. Thanks a lot again @dkeih !

[2018-12-18 16:09] #8 closed

[2019-01-03 12:23] tommyod opened #9 "Constant values"
What happens if `data = [1, 1, 1, 1, 1, ...]`?

Perhaps set `true_bw = max(true_bw, epsilon)`.

[2019-01-12 10:06] tglauch opened #10 "Memory Error for large Arrays"
Hi,

First: thanks you for the great package, it works really well! However I experience something that I don't quite understand. I'm fitting a pretty large 4D KDE and it all works fine if a evaluate on a grid of the size

nbins_x, nbins_y, nbins_z, nbins_z2 = 200, 30, 80, 500

but once I increase the resolution a bit to let's say

nbins_x, nbins_y, nbins_z, nbins_z2 = 200, 40, 80, 500

I get a me

[2019-01-12 13:55] tommyod commented on #10
Thanks for letting me know about this @tglauch . I will look at it when time permits it. I have to admit I am not sure why it happens. Are you able to post code reproducing the problem? E.g. using random data and a seed?

[2019-01-12 16:37] tommyod commented on #10
Seems to be related to the convolution in `scipy.signal.convolve` based on the traceback.

[2019-01-12 16:40] tglauch commented on #10
Hi,
yes. I agree. I was already checking for a known memory leak in `scipy.signal.convolve`, but I couldn't find one.

I'll try to provide an example code asap.

Cheers.

[2019-01-13 14:05] tglauch commented on #10
Here we go with a snippet

[code]

Changing slightly the binning brings you from

[code]

to

[code]

[2019-01-14 19:33] tommyod commented on #10
Hi again @tglauch . I'm afraid I won't be of much help regarding this. Running the code snippet you provided grinds my desktop computer to a halt, so it's a difficult problem to debug. Again, I believe the problem is related to `scipy.signal.convolve` based on the traceback.

**Ideas you could try for debugging.**
- Check if the memory jump still happens when the bin count in the other dimensions

[2019-01-16 14:34] luke-skywalker opened #11 "Cannot pip install KDEpy on Ubuntu 16.04.1"
First things first, thank you for this amazing piece of work :)

As per title, I failed at pip installing KDEpy using pip on Ubuntu 16.04.1. Minimum system info follows.

[code]

To be sure it isn't something with my system configuration I did the following.

1. I created a venv

[code]

2. I updated pip and installed wheel

[code]

3. I tried to pip install KDEpy

[code]

I put what I believe to

[2019-01-16 17:05] tommyod commented on #11
Thanks for letting me know about this @luke-skywalker .The following works for me.

**My machine**
[code]

**Create new environment, install KDEpy**
[code]

Try the following.
- Make sure you have dependencies installed, i.e. `numpy scipy pytest cython setuptools wheel`, see [requirements.txt](https://github.com/tommyod/KDEpy/blob/master/requirements.txt) for a full list.
- If it's not on your sys

[2019-01-17 13:10] luke-skywalker commented on #11
@tommyod, thank you so much for your prompt reply!
**`sudo apt install libpython-3.5-dev` solved it for me (I have Python 3.5.2 on my system).**
All the other dependencies seems to be correctly handled by `pip`. Thanks again for your help. I don't know if it might be worth mentioning in the installation instructions that Ubuntu might need the Python dev headers. Anyway, this solved it. Again, than

[2019-01-17 13:10] #11 closed

[2019-01-17 14:53] tommyod commented on #11
Glad to hear @luke-skywalker . I've added a note about this in the README, in case others have trouble in the future too. May the force be with you.

[2019-02-18 19:07] blasern opened #15 "inconsistent behavior when using custom grid"
`FFTKDE` seems to change the grid internally when providing a custom grid in 2d. Results do not seem to match with the results from `NaiveKDE` or `TreeKDE`. See below for an example

[code]

[2019-02-18 20:30] tommyod commented on #15
Thanks for raising the Issue @blasern . I agree that something is wrong here. I hope to look into this bug very soon, this weekend or the next. I will report my findings here and patch it up with a regression test.

[2019-02-19 06:38] tommyod commented on #15
I believe I've found the problem.

## Notice first that the following code produces incorrect results

[code]

![image](https://user-images.githubusercontent.com/10076072/52993822-d4c2bb00-3415-11e9-9f17-58100a5be7bc.png)

## Changing grid creation slightly produces another error

[code]

![image](https://user-images.githubusercontent.com/10076072/52993875-fcb21e80-3415-11e9-9f79-f31ebb24309b.png)

[2019-02-19 13:16] blasern commented on #15
I still find it slightly inconvenient that I cannot choose the grid I want. As I've said before, I may not even want to use an axis-aligned grid.

On the other hand, as long as this requirement is documented and you check the input grids (perhaps with an option to turn this check off, for speed) I think that's fine.

[2019-02-19 13:24] tommyod commented on #15
Great. 👍

I agree that it's inconvenient to have to use an axis-aligned grid, the discussion about non-axis aligned (yet equally spaced) fast algorithms could continue at Issue #6 . Arbitrary grids are possible using the other algorithms.

Thanks again for your valuable input. I'll leave this issue open until I've patched the software.

[2019-02-23 10:37] #15 closed

[2019-02-23 11:43] #9 closed

[2019-02-28 07:45] badbayesian opened #18 "Code to replicate comparison graphs"
Is the code to replicate the graphs on the [comparison page](https://kdepy.readthedocs.io/en/latest/comparison.html) available? I wasn't able to find it in the repo. I tried replicating a couple of the graphs on that page, however, I am getting different results. I'm not sure where the discrepancy lies. I have a [jupyter notebook](https://github.com/badbayesian/kde_examples/blob/master/testing_gau

[2019-02-28 08:08] tommyod commented on #18
The code to replicate the graphs is available at [master/docs/source/profiling.py](https://github.com/tommyod/KDEpy/blob/master/docs/source/profiling.py). Here are the results of running that code on my computer just now, in the one-dimensional case.

![image](https://user-images.githubusercontent.com/10076072/53550742-d12ae480-3b37-11e9-9f23-a707366c88a1.png)

![image](https://user-images.githubu

[2019-02-28 14:39] dafeda opened #19 "Wrapper over plt.plot for quick plots"
This is a suggestion only and might already be implemented or not wanted but here goes.

To create a kdeplot using seaborn I just need the following:

[code]

To do the same in KDEpy I first need to instantiate an estimator, fit some data and then plot.

Would be great to be able to do
[code]

What do you think?

[2019-02-28 15:03] tommyod commented on #19
I'm **against** this feature, since:
1. It would introduce a dependency, and a little bit more code to maintain.
2. Such a `plot` function can very easily be created by the user if they know the matplotlib and KDEpy APIs.

A one-liner is possible. Something like this works reasonably well:
[code]

The argument **for** such a feature is that very often when people use FFTKDE, they compute the KDE t

[2019-02-28 15:19] dafeda commented on #19
It does sound better to have it as a part of statscollection.

[2019-03-02 14:18] #18 closed

[2019-05-09 15:50] astrozot opened #22 "Negative weights and normalization"
Dear all,

I need to compute a kernel moving average smoothing of some data. That is, given a list of `N` data `d_n` measured at the locations `x_n`, I want to evaluate
[code]
in a set of grid-points x. To this purpose, I thought I might use KDEpy twice, once for the numerator and once for the denominator, using for the former the `d_n` as weights. I have however two main issues:
- For the numerat

[2019-05-10 05:42] tommyod commented on #22
Hey @astrozot . I'm letting you know that I've seen your Issue. I will respond as soon as I have some time. In the meantime, please take a look at
- [One dimensional kernel regression](https://kdepy.readthedocs.io/en/latest/examples.html#one-dimensional-kernel-regression)
in the docs. This might be useful.

[2019-05-10 07:37] astrozot commented on #22
Dear @tommyod, thank you. As also stated in the page you indicate, the example of 1D kernel regression is not very efficient as it increases the dimensionality of the problem. Most likely, using weights is a much faster approach and scales better to higher dimensions.

[2019-05-14 15:30] tommyod commented on #22
Dear @astrozot . Thank you again for raising this issue. I apologize for the lateness of my reply.

**Your questions first**:
1. If I recall correctly weights can be negative. I also double checked the code. I confirm.
2. Not a bad idea, I will consider adding a keyword argument to implement this functionality.

Over to the greater issue - **computing kernel regression using a kernel density estim

[2019-05-18 11:03] sursu opened #23 "Poor performance on 1D KDE"
Have you tried to replicate this [Simple 1D Kernel Density Estimation](https://scikit-learn.org/stable/auto_examples/neighbors/plot_kde_1d.html#sphx-glr-auto-examples-neighbors-plot-kde-1d-py)?

Here is my code:
[code]

[code]

[code]
![image](https://user-images.githubusercontent.com/12001304/57968607-1c9da380-796d-11e9-8578-8d0670c360a1.png)

It looks like the FFT estimation is not that good.
Am

[2019-05-18 11:12] tommyod commented on #23
Thanks for raising this Issue @sursu .

I immediately notice two things:
- You are setting `weights` to weight data points like `[1, 2, 3, ...]` when you pass `weights=np.arange(len(m)) + 1`. This causes the KDE to assign more weights to the points on the right hand side of the plot compared to the left hand side. You see this on the graph since the density is overestimated on the right, and under

[2019-05-18 11:23] sursu commented on #23
They do indeed match indistinguishably!
Thank you!

My impression was that: the finer the grid the better the approximation (that's why I chose such a fine grid); and from the [example code](https://kdepy.readthedocs.io/en/latest/#example-code) that weighted fitting gives better results.

[2019-05-18 11:26] tommyod commented on #23
Great! If you increase `N` you will see that KDEpy is fast for a millions points :+1:

I should re-write the docs and make it more clear:
- The finer the grid the better the approximation: but `1000` grid points is more than enough!
- The purpose of the weights is to weight the data points in relevant scenarios, for but an ordinary KDE the choice `weights=None` is correct.

[2019-05-18 11:27] #23 closed

[2019-07-11 16:24] davidggphy opened #25 "FFTKDE.evaluate on one single point"
Hello,

What is the best way of evaluating FFTKDE on a single point? Do I need to create a grid containing it in order to use the evaluate method?

Thanks in advance!

[2019-07-11 18:00] tommyod commented on #25
The following should work:
[code]
Hope that helps! :+1:

[2019-07-12 15:05] davidggphy commented on #25
Thanks for the fast answer @tommyod , but what I meant is that I want only to evaluate on one point, but I am fitting my KDE on another set of points. This is, I want to estimate my probability distribution function (pdf) given a set of samples, and then evaluate the pdf on another point (a single one, not a grid). I can easily do it with KDEpy.TreeKDE, but not with KDEpy.FFTKDE.

[2019-07-12 18:26] tommyod commented on #25
I understand. You'll have to either use TreeKDE, or use a grid and then single out a specific point. The accuracy  of FFTKDE depends on the number of grids point (the more the better, but 64 or 128 will be very accurate). Two options:
1. Use TreeKDE
2. Use FFTKDE with a grid going from x - d, to x +d, the single out the middle value of the grid.

If you want to evaluate it on a point not in the or

[2019-07-19 13:52] ytarricq opened #26 "Variable bandwidth for 3 dimensional data."
Hello,

First of all, thanks for the great package.
I'm trying to compute density maps of a 3 dimensional points distribution. I understood from the documentation that a variable bandwith method was available but I couldn't figure out how to set up this option.
Additionnaly, in the case of a fixed bandwidth KDE for multidimensional data, I would have expected as in the stats_models_multivariateKDE

[2019-07-19 15:23] tommyod commented on #26
Thanks for the kind words, and for raising this issue @ytarricq .

- **Variable bandwidth** (i.e. a unique bandwidth per data point) is only available in the NaiveKDE and TreeKDE implementations. You have to supply an array as the `bw` parameter, see [the docs here](https://kdepy.readthedocs.io/en/latest/API.html#naivekde).
- If you want to use a **bandwidth matrix that depends on the dimensions**

[2019-07-19 15:28] tomicapretto opened #27 "Evaluation of |f^l|^2"
Hello,

As a part of a simulation study I want to perform to compare KDE estimators I am also implementing the **Improved Sheather-Jones** method. I found your package and it is useful to compare what I did to what is actually implemented.

If we see the formula presented by Botev et. al for the computation of |f^l|^2, the constant multiplying \pi^{2j} is 0.5 and not 2.

In his code, he also uses

[2019-07-19 15:52] tommyod commented on #27
Hi @tomicapretto !

That's very interesting. Good eye for detail! I recall that deciphering both the paper and accompanying code was challenging. It's not unlikely that I've made a mistake. If I understand you correctly, you're saying that [this line](https://github.com/tommyod/KDEpy/blob/4162b5a6ce9c3cff4a8bb42400a2398d49c5c803/KDEpy/bw_selection.py#L64) should be a 0.5 instead of a 2?

Two thing

[2019-07-19 17:48] tomicapretto commented on #27
Correct.
I had a very similar experience, it was very hard to go through the paper, the MC methods book and his code.
I am quite new to Github so I am not sure how things should be referenced. But here I try to attach a picture of the formula mentioned.
Also, I share the code I used to implement this just in case you want to compare it (it is written in R, I am translating it to python).

![image]

[2019-07-22 09:05] ytarricq commented on #26
Thanks for the quick answer ! Made things clearer between the bandwidth matrices/variable bandwidths.
I will work on the best way to handle my data and will get back at you if I'm successfull.

[2019-08-06 13:10] blasern opened #29 "Integration with sklearn"
Hi

Do you plan to add support for integration with sklearn, to use e.g. cross-validation for bandwidth selection? Would be great to do something like [this](https://scikit-learn.org/stable/auto_examples/neighbors/plot_digits_kde_sampling.html) with KDEpy.

This would need the `estimator.get_params()`, etc. functions required from sklearn.

Ideally there would also be a `estimator.score()` functio

[2019-08-06 15:03] tommyod commented on #29
I'm not against it at all.

I guess we would need to evaluate on arbitrary grid points, in order to evaluate a score on the data. But FFTKDE generates equidistant grid points and throws away the original data. This would mean doing high-dimensional interpolation. I haven't looked into how hard or easy that might be, or if there is some other clever way of doing it.

[2019-08-07 06:37] blasern commented on #29
Agree that the scoring function may be non-trivial. But adding all other functionality would allow users to write their own scoring functions, which may be reasonable for some cases.

[2019-08-07 06:45] tommyod commented on #29
Agreed. The sklearn API is very nice in it's own right, and a lot of people are ac customized to it and to some degree expect estimators to follow the API. I imitated it, but the APIs differ a little bit.

I'll leave the issue open. Up for grabs for anyone. I might look into it when I have time in the future.

[2019-11-13 21:38] sunnyluo1993 opened #32 "Tried to install KDEpy on my mac but doesn't work. Error code below"
(base) usertekiAir:~ user$ pip install KDEpy
Collecting KDEpy
  Using cached https://files.pythonhosted.org/packages/c9/ff/0229a6cb3df501d2c1908b6a1c036389e695d4f888c502191471e3f2003e/KDEpy-1.0.2.tar.gz
Requirement already satisfied: numpy>=1.14.2 in /Applications/anaconda3/lib/python3.7/site-packages (from KDEpy) (1.16.2)
Requirement already satisfied: scipy>=1.0.1 in /Applications/anaconda3/lib/

[2019-11-13 21:43] sunnyluo1993 commented on #32
I tried the method of installing in different environment you provided for other people and got the same issue

[2019-11-18 19:41] tommyod commented on #32
Looking into this. Will get back to you @sunnyluo1993

[2019-11-18 21:02] tommyod commented on #32
@sunnyluo1993 Built files should be on pypi now. Can you try running `pip install KDEpy --no-cache-dir`again?

[2019-11-22 08:53] dmentipl opened #38 "Create Conda package for conda-forge"
Hi @tommyod. First, thanks very much for KDEpy!

I use KDEpy as part of my smoothed particle hydrodynamics analysis and visualisation software Plonk (https://github.com/dmentipl/plonk). I use it for interpolation of particle quantities to a pixel grid, like in SPLASH (http://users.monash.edu.au/~dprice/splash/).

I have a Conda (https://docs.conda.io/en/latest/) package for Plonk on my channel on

[2019-11-22 09:49] tommyod commented on #38
Thanks a lot for this @dmentipl . I will look into it and get back to you soon! :+1:

[2019-11-22 10:44] dmentipl commented on #38
No worries. Thanks!

[2019-11-30 18:48] sunnyluo1993 commented on #32
@tommyod a simple pip install KDEpy works now.  Thank you for your help!

[2019-11-30 18:48] #32 closed

[2019-12-07 05:21] dmentipl commented on #38
Hi @tommyod, just to let you know, I no longer use KDEpy in Plonk.

I have realized that I require variable bandwidth KDE, plus I need to use the FFT version for performance. So, I have implemented the algorithms I require in Python, compiled with Numba.

As such I no longer need KDEpy to be a conda-forge package. However, I think KDEpy is excellent software, and it would be worthwhile to put it o

[2019-12-07 07:24] tommyod commented on #38
Thanks for the update! I still want it up on conda forge, but haven't had the time to look at it. I'll keep it issue open.

[2019-12-07 08:28] dmentipl commented on #38
My code is available [here](https://github.com/dmentipl/plonk/blob/master/plonk/visualize/splash.py).

It's not a general KDE code. I've re-implemented the interpolation subroutines from [SPLASH](https://github.com/danieljprice/splash). Interpolating particle data to a pixel grid is the typical method to visualize smoothed particle hydrodynamics simulations. See the SPLASH [paper](https://ui.adsab

[2020-01-17 18:08] dorukhansergin opened #40 "Implement icdf method"
[Statsmodel's KDEUnivariate](https://www.statsmodels.org/stable/generated/statsmodels.nonparametric.kde.KDEUnivariate.html) has the method to evaluate inverse cumulative distribution function, with the signature `icdf(q)` where `q` is the quantile.

It'd be nice to have this in this great library. I'm assuming it should be easy to implement imitating the `statsmodel` implementation which is [here]

[2020-01-20 06:43] tommyod commented on #40
Hi! I'm leaning against this, since it goes against the general API in this library. I consider a KDE to be a function, and function evaluation is done via `fit` on a grid. Computing the cdf and icdf when you have `x` and `y` is easy, but the grid is not part of the KDE object. Code to compute ICDF:

[code]

[2020-01-20 20:31] dorukhansergin commented on #40
Agreed. I guess I was just being lazy 😄.

Thank you for the snippet by the way!

[2020-01-20 20:31] #40 closed

[2020-01-21 10:13] tommyod commented on #40
No worries! :+1:

[2020-01-23 23:02] YanXiee opened #41 "name 'norm' is not defined"
Hi, when I ran the example code 'from KDEpy import FFTKDE
data = norm(loc=0, scale=1).rvs(2**3)
estimator = FFTKDE(kernel='gaussian', bw='silverman')
x, y = estimator.fit(data, weights=None).evaluate()
plt.plot(x, y, label='KDE estimate')' after installation, it says 'NameError: name 'norm' is not defined'. How should I deal with that? Thank you!

[2020-01-24 07:17] tommyod commented on #41
From scipy.stats import norm.

[2020-01-24 07:18] tommyod commented on #41
This is in the text above the example, but could be more clear.

[2020-01-26 23:46] YanXiee commented on #41
Thank you so much.

[2020-01-27 06:04] #41 closed

[2020-03-19 09:41] #22 closed

[2020-03-24 10:50] philippeller commented on #26
I'm having the same issue with the fixed bandwidth for all dimensions.
In my case one dimension has a radically different scale than the others and hence the resulting KDEs don't look good. Just scaling the data in that dimension works fine (and rescaling after KDE), since I don't need any rotation/covariance.
Wouldn't implementing a bw per dimensions, if given as an iterable, not get us a long wa

[2020-03-24 11:25] tommyod commented on #26
@philippeller : Since the kernel functions are radial basis functions, since would amount to scaling the data on input in each dimensions, computing the KDE, then scaling back. However, it would hide *how* the data is scaled to the user. Some options are: min/max scaling, standardizing with the standard deviation and the mean, quantile transformations, etc.

I feel that "*simple is better than com

[2020-03-24 11:43] philippeller commented on #26
Maybe I'm missing some important point, but I was thinking not an implicit, but an explicit scaling.

Let's say the user supplies two dimensional data (`x` and `y`) and the fixed bandwidths as `(bw_x, bw_y`).
Now internally you compute `scaled_x` = `x` / `bw_x`( and `scaled_y` = `x` / `bw_y`), then proceed with the KDE on the scaled data using bandwidth = 1, and in the end just undo the scaling, w

[2020-03-24 12:10] tommyod commented on #26
That would work. :+1:  Thanks for clarifying. I got a little ahead of myself.

What you're sketching might be worth implementing. In a different issue #6 we had some discussions about a more general case. It's really an issue of API design. The way I see it:

Pros:
- Useful in some use cases, saves the users some time (but they can do it themselves too)

Cons:
- Extends the current API a little (b

[2020-03-24 12:11] #19 closed

[2020-04-09 06:16] rdimaio opened #47 "Possible typo in docs regarding complexity of FFTKDE"
Hi,

In FFTKDE's docs (https://kdepy.readthedocs.io/en/latest/API.html#KDEpy.FFTKDE.FFTKDE), the time complexity for the first phase is given as O(N*(2^d)) and for the second phase as (Onlogn); the total running time is then given as O(N(d^2)+nlogn). I am not sure if the N(d^2) in the total running time is a typo  (d^2 instead of 2^d) or if I am just misunderstanding something. Thank you again for

[2020-04-09 07:07] tommyod commented on #47
You are correct! It should be 2 to the power of d. You are welcome to create a PR!

[2020-04-09 09:26] #47 closed

[2020-04-25 17:24] syrte commented on #29
Evaluating the density of arbitrary points would be absolutely a nice feature.
You mentioned "high-dimensional interpolation on equidistant grids". To my knowledge, one easy and fast solution is to use `scipy.ndimage.map_coordinates`.
FYI, in case it might help, I have written a wrapper to this function for my own use which is available at https://github.com/syrte/handy/blob/master/interpolate.py

[2020-05-10 02:27] GF-Huang opened #50 "Why I get so big difference?"
[code]

[code]
![image](https://user-images.githubusercontent.com/4510984/81489491-9c243100-92a8-11ea-8e43-0fa81be345a2.png)

[code]
![image](https://user-images.githubusercontent.com/4510984/81489500-c0800d80-92a8-11ea-8eac-49d920c46bef.png)

[2020-05-10 03:17] syrte commented on #50
As far as I see, the output is reasonable.

Two comments:
1. It would be a more fair comparison if specifying the same bandwidth for KDEpy and Scipy.
2. You should use `plt.plot(x, stats.gaussian_kde(a).evaluate(x))` for Scipy if you are asking why the x range is different.

[2020-05-10 03:19] GF-Huang commented on #50
Why `stats.gaussian_kde(a).evaluate(x)`, not `stats.gaussian_kde(a).evaluate(a)`?

[2020-05-10 09:36] tommyod commented on #50
Good insight by @syrte , I agree with the comments.

Your scipy code says "evaluate the KDE on the exact data points" (you also pass duplicate data points in `a`, which does not make much sense). If you wanted to evaluate the density on the exact data points, why not just count repeated measurements?

The KDEpy code says "evaluate on `len(a)` equidistant grid points, and please create the grid for

[2020-05-10 13:07] GF-Huang commented on #50
Sorry, I am a newbie in statistics.
I have a one-dimensional array with 15,000,000 data points, I want to calculate the PDF and CDF by KDE, could you tell me what's the correct way?
Thank you!

[2020-05-10 17:39] syrte commented on #50
@GF-Huang it sounds like that you want the PDF on a grid rather than the PDF on each point. So you can make a grid that covers the range of the points (e.g., `np.linspace(a.min(), a.max(), ngrid)`. Then evaluate the PDF on this grid `y=KDEpy.FFTKDE().fit(a).evaluate(x)`. Or simply `x, y = KDEpy.FFTKDE().fit(a).evaluate(ngrid)`. ngrid=1000 would be good enough for most cases I guess.
I'm wondering

[2020-05-10 18:04] tommyod commented on #50
I agree with the good points raised by @syrte . Scipy is likely way too slow (but feel free to try). The following code should work. It's taken more or less directly from the README, and will create a grid with 2**10 points.
[code]

Beware of outliers, missing data (null values), etc. If 15 million points are too slow, you could sample ( say 1 million points) at random without replacement and fit

[2020-05-10 18:04] #50 closed

[2020-05-10 21:21] GF-Huang commented on #50
What the mean of "Grid" in this sence?

[2020-05-10 21:24] tommyod commented on #50
The variable `x`.

[2020-05-10 21:25] GF-Huang commented on #50
Got it, thank you all. 🌹

[2020-05-10 21:43] GF-Huang commented on #50
I don't think scipyt can process 15,000,000 data points in an acceptable time.

![image](https://user-images.githubusercontent.com/4510984/81511203-283a6500-934a-11ea-8dc8-12f969defa89.png)

[2020-05-16 13:34] #27 closed

[2020-06-06 12:29] PawanGu opened #53 "KDE for 2dim irregular data (not grid)"
Hi,
Here is reference given for 2d kernel, but only in case of grid data.
https://kdepy.readthedocs.io/en/latest/kernels.html#higher-dimensional-kernels

I found that if there is random 2d data set is given. KDEpy does not seem to find the consistent kde, as I compared with scipy_gaussian_kde. It also does not satisfy the normalisation condition.

Here chi0 chi1 have random value b/w 0 and 1.
kern

[2020-06-06 15:43] tommyod commented on #53
The linked example is only there to create the specific figure under it. It was not meant as a general approach. The line `BaseKDE._available_kernels['gaussian']` fetches a low level function from an abstract base class.

Use the `FFTKDE` as described [in this example](https://kdepy.readthedocs.io/en/latest/examples.html#the-effect-of-norms-in-2d) instead!

[2020-06-06 15:43] #53 closed

[2020-06-22 18:46] AspirnQnt opened #54 "Where can I find an example for n- dimensional kernel regression using FFTKDE??I tried the below 3-d multiple regression but having difficulty interpreting the output."
#The data to be analysed is of shape 506*3 dataframe
from KDEpy import FFTKDE
crim=np.array(crim)
rm=np.array(rm)
medv=np.array(medv)
#The data to be analysed is of shape 506*3 dataframe
weights=np.vstack([crim,rm,medv])
print(weights.shape)

grid1,points1 = FFTKDE(bw=0.5).fit(weights.T).evaluate()
x1, y1 = np.unique(grid1[:, 0]), np.unique(grid1[:, 1])
print(len(x1))
z = points1.reshape(100, 10)

[2020-06-23 05:21] tommyod commented on #54
I don't think I wrote an example for more than 2D or 3D. I'm not sure what you're asking exactly.

- What specifically about the output makes it difficult to interpret?
- How would you like to interpret n-dimensional kernel regression? What do you mean by "interpret"?

[2020-06-24 05:42] AsPiRInQNT commented on #54
Thank you for the response.An example of kernel regression using FFTKDE for more than 2D or 3D is exactly what I needed for reference.

[2020-07-09 12:06] suzannejin opened #55 "The output has different dimensiones to the input data"
I would like to determine the KDE for each point of my data. However, the output produced by FFTKDE has always 1024 rows, in contrast to other implementations (Eg. the gaussian_kde from scipy). Is there a way to produce similar results as the gaussian_kde implementation?

An example code:
[code]

And the output:
[code]

[2020-07-09 13:45] tommyod commented on #55
FFTKDE is much faster than scipy, but it's because of a gradeoff in the implementation. From the [FFTKDE docs](https://kdepy.readthedocs.io/en/latest/API.html#KDEpy.FFTKDE.FFTKDE):

You can increase the number of grid points, or use a custom grid (but it must be equidistant). See the [documentation of the .evaluate() method](https://kdepy.readthedocs.io/en/latest/API.html#KDEpy.FFTKDE.FFTKDE.evalu

[2020-07-16 08:41] ankitkr1606 opened #56 "Problem in understanding"
I'm trying to find the kernel density of 2D Data points but when I'm trying to sum up all the points probability it's not getting sum up to 1 or even close. Sometimes it is going above 1 too. Can you please explain this?

[2020-07-16 10:31] tommyod commented on #56
The integral sums to one, not the sum of the sampled function values.

For instance, a box function on [0, 1] integrates to one. But if you sample it at equidistant 10 points on [0,1] you get (1, 1, ..., 1) - which sums to 10, not one.

Read up on probability density functions. If you believe there is a bug in the software, please provide a minimal working example.

[2020-07-16 10:32] #56 closed

[2020-07-17 12:19] suzannejin commented on #55
This is very useful. Thank you for the quick response : )

[2020-07-17 12:19] #55 closed

[2020-07-30 21:25] Eequla opened #57 "Problems with fitting a KDE to a sine curve"
Hello, as a small test to visualize the important of bandwidth in a KDE I plotted a sine curve until 2*pi and create 500 data points around the sine curve with some noise. However, when I try to do the KDE it gives me a very strange result which does not resemble a sine curve at all. Below is all the code the first part generates the sine graph with a scatter plot. I used the example 'Boundary cor

[2020-07-30 22:26] tommyod commented on #57
**I believe you are trying to do "kernel regression", not "kernel density estimation".** KDEpy does the latter, not the former :) Please see the wikipedia entries for these two concepts for an explanation of the differences between the two methods. There are some similarities, which I explore [in this example](https://kdepy.readthedocs.io/en/latest/examples.html#one-dimensional-kernel-regression).

[2020-07-30 22:27] #57 closed

[2020-08-06 15:37] dkludwig opened #58 "TreeKDE doesn't implement variable bandwidths"
Hi @tommyod! Thanks for the fast, well-documented package! I'd been searching around for a bit trying to find implementations that allowed for weights AND variable bandwidths, so this was very helpful.

However, while apparently TreeKDE is supposed to be able to handle variable bandwidths, for me just uses the maximum of that list as a fixed bandwidth. I spent ~4 hours trying to figure out why my

[2020-08-06 17:53] tommyod commented on #58
Thanks for the well written issue @dkludwig . Most likely it's a documentation error by me, or some error in the code. I'll have to dig a little bit when I find time. If you want to investigate a bit and create a PR, you're very welcome. I can add you to a list of authors. I might not have time to look at this immediately.

[2020-08-07 10:35] dkludwig commented on #58
No worries! I can look into a little bit, but truthfully this may be out of my pay-grade, seeing as a I really don't truly understand how the TreeKDE implementation even works. I'll give it a shot, though.

[2020-08-11 18:37] Gabriel-p opened #59 "Bandwidth: why are 'scott' and 'silverman' not available except for 1D data?"
In [scipy.stats.gaussian_kde](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.gaussian_kde.html) both these methods are available for multi-dimensional data, I believe.

Why are they only available for 1D data here?

BTW: is the bandwidth value used by `KDEpy` equivalent to the one used in `gaussian_kde`?

[2020-08-11 20:12] Gabriel-p opened #60 "How are the grid limits estimated?"
I'm trying the following code:

[code]

As I understand it, `grid[0]` returns the grid, and `grid[1]` the evaluated grid. But in the example above the limits of `grid[0]` is way beyond the limits of the data.

Am I understanding something wrong here?

[2020-08-11 20:43] tommyod commented on #60
No, you understand it correctly. I prefer calling it as `x, y = FFTE(...`, since that is more clear than indexing a `grid`variable.

You can look at the implementation to figure out how the outer points of the grid are computed. It's open source after all - looking at the code is encourage. If you think about it, it makes sense that  `x` goes "way beyond the limits of the data". The BW you compute

[2020-08-11 20:43] #60 closed

[2020-08-11 20:54] tommyod commented on #59
Short answer: implementation choices and details. Longer answer: scipy only allows gaussian kernels, and uses a completely different algorithm. In KDEpy every kernel function is a one dimensional radial basis function. In a gaussian kernel, the covariance matrix can be used to scale and rotate the KDE. It's not obvious to me how the scott and silverman rules extend to higher dimensions for arbitra

[2020-08-11 20:54] #59 closed

[2020-08-11 21:55] Gabriel-p commented on #59
Didn't think of this.

After some reading, I found that the bandwidth in scipy is weighted by the covariance. So to use an equivalent bandwidth in KDEpy I have to use:

    bw = kde.covariance_factor() * sample.std()

(where `kde` is from `gaussian_kde`)

[2020-08-11 21:58] Gabriel-p commented on #60
I understand perfectly, thank you for the detailed explanation.

How could I use a pre-defined bounded grid in 2D? With `scipy` I define the grid as:

    xmin, xmax, ymin, ymax = 0., 1., 0., 1.
    xx, yy = np.mgrid[xmin:xmax:50j, ymin:ymax:50j]
    positions = np.vstack([xx.ravel(), yy.ravel()])

but this does not work with `KDEpy`.

[2020-08-12 06:35] tommyod commented on #60
FFTKDE should allow a custom grid - but it must be spaced equidistantly. See the docs. If it does not work there might be a bug. If you find a bug, please post code that fails and I'll sort it out.

[2020-08-12 06:36] tommyod commented on #59
Yea! I seem to remember something like that. 👍 (It's been a while since I looked at the docs.)

[2020-08-12 18:05] Gabriel-p commented on #60
This is the grid that I've tested (which works with `scipy.stats.gaussian_kde()`):

[code]

which fails with:

[code]

[2020-08-13 06:54] tommyod commented on #60
Your grid is the wrong shape, use `positions = np.vstack([xx.ravel(), yy.ravel()]).T` instead.

Also, when you supply a grid, only the points are returned, so use `points = FFTKDE(bw=bw, ...`.

Hope this helps.

[2020-09-27 16:51] websitefingerprinting opened #62 "How to resample data points from a kde model?"
Hi! I just wonder whether KDEpy provides any API for sampling data points from a fitted kde model?

[2020-09-28 07:05] tommyod commented on #62
Just sample from the original data points and add gaussian noise with bandwidth equal to the variance of the kernel. It's an equivalent operation. E.g. fit KDE and obtain bw, use `np.random.choice` to sample, then use `np.random.randn` to add noise.

[2020-09-28 07:05] #62 closed

[2020-09-28 10:09] tommyod commented on #62
By the way, if you create a PR with a little example showing this for the docs (here: https://github.com/tommyod/KDEpy/blob/master/docs/source/examples.rst) it would be appreciated.

[2020-10-04 11:08] alexandrakisin opened #63 "Can't install KDEpy 1.0.5 on Windows Anaconda environment"
I have the latest anaconda environment on my Windows machine.
[code]
Python is 3.8.3
Conda version 4.8.5
Pip version 20.2.3
Trying to install the latest KDEpy 1.0.5 and got the error :
[code]
Doing the same in Linux exactly identical environment without any problems.
What can be the problem ? The latest KDEpy is not available for Windows ?

Thank you.

[2020-10-04 12:11] tommyod commented on #63
Seems like the 1.0.5 version did not build for Windows. I'll look into it.

Can you try `pip install KDEpy==1.0.3` in the meantime? It should work. Let me know if it doesn't.

[2020-10-04 12:29] tommyod commented on #63
:heavy_check_mark: Should be built on 1.0.5 now. Please try again and verify.

[2020-10-04 12:48] alexandrakisin commented on #63
It is working now. I succeed to install version 1.0.5
Thank you for such prompt response!

[2020-10-04 13:40] #63 closed

[2020-10-23 19:58] francoislauger opened #64 "FFTKDE on a fix (equidistant) grid"
I was wondering if there was a way to evaluate FFTKDE on a fix grid. For example, to evaluate the kernel on a grid of 256 points between -2 and 2.  And the same thing for more thant 1 dimension, ex. 256 points in x0 between -2 and 2 and 256 between -1 and 1 in x1.

[2020-10-24 07:45] tommyod commented on #64
Sure, take [a look at the docs](https://kdepy.readthedocs.io/en/latest/API.html#KDEpy.FFTKDE.FFTKDE.evaluate). Let me know if it's unclear.

[2020-10-24 07:45] #64 closed

[2020-10-25 18:55] francoislauger commented on #64
Thanks for the quick respond.

Perhaps I'm missing something in the doc but what I'm trying to do is something like that my real data generation process  is not a random normal ) :
[code]

At the end I want to calculate the distance between  y value at each point of the density (ex. `y_density_1[0]-y_density_2[0]`). But these points need to be at the same place on the grid. I need to have the same

[2020-10-25 20:48] tommyod commented on #64
The linked docs say you can use (array-like, int, tuple or None), so you can use a grid like so:

[code]

This might not be clear from the docs. I have updated the docs with this example:

[code]

Does it work for you now? Do you think the docs are more clear now? If not, feel free to submit a PR :)

[2020-10-26 00:27] francoislauger commented on #64
Thanks a lot.

With your exemple I realised that I put x,y = ... with the grid even if it's suppose to be just y (as it's well stated in the documentation).

[2020-10-27 18:23] #25 closed

[2020-11-16 09:45] #7 closed

[2020-11-25 20:42] psederberg opened #78 "Bandwidth not recalculated with multiple calls to fit"
We recently ran into an issue when setting up an FFTKDE object once and calling `fit` more than once on the same object with different data. It seems as though the `bw` is not recalculated after the first call to fit because it is set to the `self.bw`, so that it isn't overwritten. This can give rise to some serious errors in the density estimates.

Here is some code that illustrates the issue:

[

[2020-11-26 10:09] tommyod commented on #78
Thanks for the detailed bug report @psederberg . Seems like you're correct. Want to submit a PR? If not I'll have a look at it when I get the chance 👍

[2020-11-26 16:56] #78 closed

[2020-11-26 17:13] tommyod commented on #58
Hi again @dkludwig . I apologize that this took so long. When I run your code (I changed `b` to  `:b` in `axs[1].plot(x, var_tree_kde, ':b', lw=3, label='Variable bandwidth TreeKDE')`), I get this result, which seems fine.

My version:
[code]

Am I missing something?

![image](https://user-images.githubusercontent.com/10076072/100377894-7d9e4100-3012-11eb-866d-b9ff95a63441.png)

[2020-11-26 17:20] tommyod commented on #58
Hi @dkludwig .

I apologize that this took so long. I am on Python 3.7.7 and KDEpy 1.0.10:
[code]

When I run your code (only changing the marker from `b` to `:b` in the second plot), I get a different plot:
![image](https://user-images.githubusercontent.com/10076072/100378677-d7ebd180-3013-11eb-9f5e-2c142a7e6388.png)

I also tried changing the bandwidths in the line `bws = 2 - np.abs(np.linspace(

[2020-11-26 18:52] psederberg commented on #78
Awesome fix, thank you!

On Thu, Nov 26, 2020, 11:56 AM Tommy <notifications@github.com> wrote:

[2020-11-26 18:54] tommyod commented on #78
Beware that it's not on uploaded to pypi yet, so please create a new KDE object for each fit - for now :)

[2020-11-26 18:57] psederberg commented on #78
Will do, and I'll report back if we see any issues once it's migrated to
pypi. Thanks again!

On Thu, Nov 26, 2020, 1:54 PM Tommy <notifications@github.com> wrote:

[2020-11-29 20:39] JHWu92 opened #81 "Bandwidth selection for 2d data"
Hi,

How can I apply automatic bandwidth selection for 2d data? I tried 'silverman', 'scott', 'ISJ' and they all say "rule is only available for 1D data".

I also think about cross-validation but I don't know what and how to compute some error function for grid search. Any suggestion?

Best,
Jeff

[2020-11-30 07:57] tommyod commented on #81
This is not implemented, since it's not obvious (to me) how to generalize bandwidth to several dimensions for all kernels. In higher dimensions, the bandwidth is a matrix and not a number. That being said, you could scale the data and use `bw=1`, and it would be equivalent. Here is how it would work in 1D first:

[code]
![image](https://user-images.githubusercontent.com/10076072/100581672-5da79f80

[2020-11-30 20:29] JHWu92 commented on #81
Hi Tommy,

This is a nice trick! I know it would be hard to generalize to multiple dimensions. I don't even fully understand the mathematics of bandwidth in 1D, let alone higher dimension. I am working on geographical data, where x and y are projected to equal distance coordinate reference system. So I guess a diagonal bandwidth matrix should be fine, most certainly better than me assigning an arb

[2020-11-30 21:30] tommyod commented on #81
Yea, it should do the trick for practical purposes at least. I hope to implement some better support, but I don't want to implement too much magic either. At least tricks like these force the user the think explicitly about what they want. :+1:

Yup, `improved_sheather_jones` is the same as `ISJ` :)

[2020-12-14 14:53] mbr085 opened #83 "Installation fails in python 3.9"
Here is the output from pip install KDEpy

Collecting KDEpy
  Using cached KDEpy-1.0.2.tar.gz (136 kB)
Requirement already satisfied: numpy>=1.14.2 in /home/mbr085/.virtualenvs/mergeforest-mvpxmIAj/lib/python3.9/site-packages (from KDEpy) (1.19.4)
Requirement already satisfied: scipy>=1.0.1 in /home/mbr085/.virtualenvs/mergeforest-mvpxmIAj/lib/python3.9/site-packages (from KDEpy) (1.5.4)
Requireme

[2020-12-14 15:07] tommyod commented on #83
Python 3.9 is not supported due to dependencies not supporting it fully. Use Python 3.8 instead.

[2020-12-14 15:07] #83 closed

[2020-12-14 15:07] mbr085 commented on #83
Rebuilding from cython solved the issue.

[2020-12-14 15:07] tommyod commented on #83
Great! :+1:

[2020-12-14 15:08] mbr085 commented on #83
Now it installed, but it might not work... I will see what happens and report back if I have any issues.

[2021-01-18 07:54] chrisrmaupin opened #85 "New machine, now cannot replicate KDEpy KDE's in scientific paper in review."
KDEpy is cited in the paper, but I am **extremely** alarmed that the identical data and code no longer generate the same plots (originally made in 2019), which is critical for a core interpretation of the paper. Here is an example. It appears to have become over-smoothed/weights are no longer working as they were.

This code generated the first plot on a 2019 environment (and in the paper), now it

[2021-01-18 08:22] tommyod commented on #85
I'm pretty sure I know the reason. The "ISJ" implementation contained a bug, which was fixed in May 2020. The author of the ISJ algorithm had the same bug in his matlab implementation, but it was pointed out in [this issue](https://github.com/tommyod/KDEpy/issues/27), fixed in [this commit](https://github.com/tommyod/KDEpy/commit/966d13cb9897308af9aa747e83f0e36a960f7627). If you run the code with

[2021-01-18 10:04] tommyod commented on #85
Resolved. The inconsistency was due to the 1.0.4 -> 1.0.5 bugfix.

[2021-01-18 10:04] #85 closed

[2021-04-15 16:07] rafis opened #87 "Circular (spherical) mertric"
Add please circular 1d metric and 2d spherical (Haversine) metric support.

[2021-04-22 03:08] KwatME opened #88 "macOS brew python3.9 installation error"
## Command

[code]

## Error

[code]

[2021-04-22 04:19] tommyod commented on #88
Python 3.9 is not yet supported (due to dependencies not supporting 3.9 last time I checked).

So for now, if you want to use KDEpy, use it with Python 3.8 instead.

Will support 3.9 in the future :)

[2021-04-22 04:19] #88 closed

[2021-04-22 04:21] KwatME commented on #88
Thanks @tommyod for the quick update. Got you.

[2021-04-30 13:59] timeisapear opened #90 "Numpy 1.20 DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`."
Hello,

Using numpy 1.20 seeing a DeprecationWarning traced to https://github.com/tommyod/KDEpy/blob/master/KDEpy/binning.py#L79

Probably a simple change needed to change `np.float` to `np.float64` or `float`, as noted in the warning.

Thanks for this package.

Stacktrace:

[code]

[2021-04-30 20:08] tommyod commented on #90
Thanks for reporting this. If you want you are welcome to create a PR. If not I will get around to it sometime.

[2021-05-11 05:53] #90 closed

[2021-05-11 05:57] tommyod commented on #87
It's not obvious to me how to extended the current code to support this. I would probably accept a PR, but I am not going to implement it.

[2021-05-11 05:57] #87 closed

[2021-05-17 12:48] mdmould opened #92 "Necessity of FFTKDE grid enclosure with reflected boundaries"
When evaluating the PDF with FFTKDE, the grid bounds must exceed the extrema of the data points. In [#6](https://github.com/tommyod/KDEpy/issues/6#issuecomment-438370805), you mention this is due to your implementation and isn't strictly necessary. What would be required to remove this restriction?

The reason is that evaluating the PDF in higher dimensions, which is already prohibitive, becomes e

[2021-05-18 11:20] tommyod commented on #92
I don't have the time to work on this, but I'll give some general comments which i hope can be helpful. Honestly you are kind of on your own here, since (1) I don't have time to work on this and (2) your requirements are a bit exotic, so you'll have to think it through.

If the restriction is removed, the user could unintentionally get bad results. In theory I think it could be removed, but it wou

[2021-05-18 11:20] #92 closed

[2021-05-19 17:57] dbikiel opened #94 "Defining the limits of the grid"
Hi,

I am trying to perform several 2D estimations in the same grid (different groups in the same XY space). In order to compute the KDE I am passing the data for each group. However, given that the limits are not necessarily the same, I can't use the resulting KDE (I want to operate on the KDEs, but the grids are not the same...). Is there a way to fix the limits of the x and y scale? I saw that

[2021-05-19 23:01] dbikiel commented on #94
I think I found how to properly set the grid externally:

X, Y = np.mgrid[-0.5:20:128j, -0.5:20:128j]
grid_points = np.hstack([X.flatten().reshape(-1,1),Y.flatten().reshape(-1,1)])

kde = FFTKDE(kernel='gaussian', bw = 1)
points = kde.fit(data).evaluate(grid_points)

[2021-05-20 04:47] tommyod commented on #94
You figured it out :)

[2021-05-20 04:47] #94 closed

[2021-05-21 06:28] lacerbi opened #95 "Discrepancy in automated bandwidth selection?"
Hello,

I have been working on porting Botev et al. (2010) algorithm for KDE in 1D from MATLAB to Python (original code from the author's page [here](https://web.maths.unsw.edu.au/~zdravkobotev/)) since I was very unhappy with the `scipy` KDE.  To double-check, I also looked online for Python implementations of Botev et al., so I found your repo among others.

I just wanted to give you a heads-up

[2021-05-21 06:36] tommyod commented on #95
Good catch. I believe the error is in the MATLAB code, not in KDEPy.

See [this PR](https://github.com/tommyod/KDEpy/pull/51)  and [this issue](https://github.com/tommyod/KDEpy/issues/27) and let me know if you agree.

If you want to (and agree with the above), feel free to create a PR with a comment in the code linking to those PRs issues, or explaining with a sentence.

[2021-05-21 07:08] lacerbi commented on #95
Thanks for the clarification. I wrote to Botev, hopefully we can get a definite answer directly  from the source.

Either way, it would be probably useful if you added a comment in the code, briefly explaining the discrepancy (e.g., specifying that you follow the textbook definition as opposed the MATLAB implementation - at the moment it's confusing because you only mention as reference the implem

[2021-05-22 06:04] lacerbi commented on #95
**The current implementation of bandwidth selection in `KDEpy` is wrong.**

Botev very kindly got back to me quickly and explained that _there is no discrepancy between the book and his original MATLAB implementation_.  The factor of 4 that seems missing in the `fixed_point` function comes from a different definition of `a2` in the main function. In the MATLAB code (as in your current Python imple

[2021-05-22 07:19] tommyod commented on #95
Thanks a lot for following up on this @lacerbi. To be sure I understand completely, if it's changed back to `2.0` it will be correct?

I'll look over the code and compare, then merge a PR once I understand it. 👍  I have to admit that while it might be easy to see, I was quite confused juggling MATLAB code, the paper, and snippets from Botevs book trying to get it right. More likely than not this i

[2021-05-22 07:21] tommyod commented on #95
Thanks a lot for following up on this @lacerbi. To be sure I understand completely, if it's changed back to 2.0 it will be correct?

[2021-05-22 07:26] lacerbi commented on #95
No worries - the mismatch in definition can be quite misleading. I also was thrown off by the code snippet for `fixed_point`. This was a good reminder not to analyze code snippets in a vacuum, without double-checking the definitions...

Yes, the original version you had with `f = (2.0) * np.pi ...` (lines 63 and 79) was correct.

[2021-05-26 16:38] #95 closed

[2021-05-28 23:30] inti-abbate commented on #58
Hi @tommyod and @dkludwig! I'm using `KDEpy` for my work and it's very useful, thanks for it!

I had a similar issue and solved it by reinstalling `KDEpy` (with `pip install --force-reinstall KDEpy`), meaning you already fixed the bug in the last months.

Just for the record (and I apologize if I'm explaining something you already know), the bug was being caused by a line around line 153 of `BaseK

[2021-05-29 07:06] tommyod commented on #58
Thanks @inti-abbate . I'll close this issue now that it works :)

[2021-05-29 07:06] #58 closed

[2021-05-29 13:31] dkludwig commented on #58
Thanks @tommyod and @inti-abbate! I finished that part of the project I was working on, so I haven't needed this in a while, but I just tried it again and it works for me now as well! I think I must have missed @tommyod's first response, though, which might have helped me if I'd seen it back in November. In any case, thanks again!

[2021-06-01 14:52] inti-abbate commented on #29
Hi
I just sent a PR with a proposal for a solution to this issue, based on a `grid_search_cv` function which is a simplified version of `sklearn`'s `GridSearchCV` class. Since FFTKDE doesn't allow evaluating on a arbitrary grid, the method only works for NaiveKDE and TreeKDE. Of course the performance won't be as good, but for my work this is good enough, and of course you can first optimize BW wi

[2021-06-28 09:18] thomasaarholt opened #98 "GPU acceleration with CuPy"
Just leaving a note since its nice to share interest. My use-case is performing KDE many times on large (10 million) sets of data points.

I thought I would have a play and see if it would be low-hanging fruit to add support for CuPy to KDEpy. CuPy is a GPU library with NumPy-like syntax. One of the really nice features is that (when supported), NumPy functions will automatically use the CuPy equi

[2021-06-28 14:06] tommyod commented on #98
Hi. Thanks for letting me know about CuPy, and I'm very happy that you like KDEpy. Some thoughts:

I'm not necessarily against it, but another integration/implementation might require support and debugging years into the future. I have relatively little time for continued work/support. Many people have made good suggestions for additional features to implement in KDEpy, but if it's (1) a rare use-

[2021-08-31 17:08] #54 closed

[2021-08-31 18:05] vkbellis opened #99 "Using KDEpy in Global Mapper Pro v23"
Hello Tommy,
Global Mapper Pro v23 (currently in beta) will support running Python scripts through its own script editor and I wondered what you thought about possibly using KDEpy with point features loaded into a Global Mapper workspace? Ingestion of point features into KDEpy is one hurdle. The second hurdle would be the vector output from KDEpy; e.g., line and area features.

I realize this may

[2021-09-01 06:26] tommyod commented on #99
I'm not exactly sure what you're asking. I have no thoughts in particular. I don't know anything about Global Mapper Pro. You're welcome to use KDEpy for whatever you want as long as it obeys the [license](https://github.com/tommyod/KDEpy/blob/master/LICENSE).

[2021-09-01 06:26] #99 closed

[2021-09-01 14:14] vkbellis commented on #99
Thanks Tommy.

[2021-09-07 02:33] syrte commented on #38
To who is curious about the above link (like me), it was moved to https://github.com/dmentipl/plonk/blob/main/src/plonk/visualize/splash.py

[2021-09-09 10:20] naqviO7 opened #100 "Running the script!"
How to Run this script instead of installing it? Please Help!

[2021-09-09 13:22] tommyod commented on #100
I don't understand the question. It's a python package, consisting of many scripts (files). It's meant to be installed.

[2021-09-09 13:22] #100 closed

[2021-11-16 19:50] psederberg opened #101 "Scaling issue with ISJ and custom grid"
Hi!

Thanks again for a great library! We've run into an issue where the estimated PDFs are scaled incorrectly for the ISJ method under the following conditions:

- The data have a narrow standard deviation
- We provide a wide grid spacing relative to the observed data

This error does not occur with Silverman's bandwidth calculation.

Below I've pasted code for replicating the issue, along with t

[2021-11-17 06:57] tommyod commented on #101
Interesting. Thanks for the detailed bug report. I'll look into it when I get the chance.

[2022-01-13 18:01] rspadim opened #102 "include python 3.10 at cicd"
Hi, could be possible include python 3.10?

[2022-01-14 19:29] thejimster82 commented on #102
+1 to this request

[2022-01-16 16:41] tommyod commented on #102
Done in [this pr](https://github.com/tommyod/KDEpy/pull/103) :)

[2022-01-16 16:41] #102 closed

[2022-02-07 22:16] olafmersmann opened #105 "Missing tags for version 1.0.11 and 1.1.0"
The public GitHub repository doesn't have tags for the last two versions released on PyPi.

[2022-02-09 03:13] nicolasdarmanthe opened #106 "Small probabilities beyond 16 decimal places?"
I've noticed that the lower bound of probabilities plateaus out around 10^-16 (in both FFTKDE and Naive KDE). I think this has something to do with https://en.wikipedia.org/wiki/Decimal64_floating-point_format but am not sure how to fix.

[2022-02-09 06:48] tommyod commented on #105
Yes, I changed the deployment so it does not depend on tags. You can download the source from pipy corresponding to the versions.

Are tags more useful? Why do you prefer them?

[2022-02-09 06:51] tommyod commented on #106
I'm not sure what a fix would mean. There's a limit to floating decimal precision. This is true for all numerical algorithms. Since a kernel density is an estimate of an unknown pdf in the first place, I don't see how more precision would help in practice. Could you tell me more about why such high resolution is useful?

[2022-02-09 07:58] nicolasdarmanthe commented on #106
10^-16 is a small number, but not that small by computer standards? In my
use case I am very interested in the tails of the pdf. I compute the log of
the inverse pdf. In the tails, I'm getting a ceiling around 37 (=
ln(1/10^-16) ).

On Wed, 9 Feb 2022, 17:51 Tommy, ***@***.***> wrote:

[2022-02-09 08:40] tommyod commented on #106
I see. I think you should roll your own implementation then. For two reasons:

- KDEpy [adds a small constant to all outputs](https://github.com/tommyod/KDEpy/blob/c36751e5dd856202122f0b46136aadae8719afb3/KDEpy/BaseKDE.py#L213). This was done since visualization did not work well without this constant in some cases.
- If you use a kernel without finite support (e.g. Gaussian), KDEpy does a numeric

[2022-02-09 08:40] #106 closed

[2022-04-24 20:00] chucklesoclock opened #108 "relationship to sklearn and scipy bandwidth parameters"
Hello!

What a efficient and useful library you have here! I was looking through the code and must admit I was defeated by this question:

What is the relationship between your calculated `kde.bw` bandwidth value and scikit-learn and scipy's? For example, scipy and sklearn is related in that the following invocations are equivalent (up to minor differences in implementation):

[code]

That is, `sc

[2022-04-25 06:33] tommyod commented on #108
Glad you like the code. I hope it is helpful to you. [In KDEpy, the bandwidth h is the standard deviation σ of the kernel function. ](https://kdepy.readthedocs.io/en/latest/bandwidth.html)

For instance, a KDE on a single data point at x=0 using Gaussian would give you a N(0, 1) distribution. But I haven't looked at sklearn and scipy in a while, so I forgot how they interpret bandwidth. My advice

[2022-04-25 06:33] #108 closed

[2022-04-30 19:49] herrerandresc opened #109 "density estimation on 4D data"
Hi! I watched your video on youtube and discovered your library.  I'm trying to estimate pdf on 4D data. I'm trying to use NaiveKDE class, with the fit and evaluate method and it returns x, y; where x is a (625,) array and y is a (625, 4) array, which I don't understand because my data is (87564, 4) array. Here I don't understand what does mean the x and the y. I want to know the pdf and get the p

[2022-04-30 19:52] tommyod commented on #109
The shape of the returned x seems wrong. Can you provide a minimal (non-)working example with some dummy data?

[2022-05-01 01:33] herrerandresc commented on #109
I'm trying this:

data = np.random.random((87564,4))
print(data.shape)

x, y = NaiveKDE(kernel="gaussian", bw=0.1).fit(data).evaluate()

print(x.shape)
print(y.shape)

[2022-05-01 07:07] tommyod commented on #109
The shapes seem correct to me:

[code]

Could you double-check?

[2022-05-11 07:13] #109 closed

[2022-05-19 21:20] Entropy134 opened #110 "Grid definitions for multivariant KDE"
Hello!

I am trying to use your module to perform KDE on my 2D data set but I am having trouble with correctly specifying grid_points within FFTKDE.evaluate. The script works great for determining the KDE in the vicinity for which data is provided, however I would like the output range of the KDE to be larger than that of the data. For example, although the smallest observed value for the first va

[2022-05-20 05:19] tommyod commented on #110
Take a look at how grid creation is done here:
https://github.com/tommyod/KDEpy/blob/b1a34fdb91bc98bd8c4f4d6109923c2fe28f85ba/KDEpy/utils.py#L61

Use the code in that function as a starting point, modify as needed!

[2022-05-20 05:19] #110 closed

[2022-06-02 03:14] diaoyijiao opened #111 "gird points"
Dear Tommyod:
    I found that when using FFTKDE to calculate the probability density, when using different grid points, but choosing the same bandwidth and kernel function.  The same variable x has a different probability density. Why is that?  According to the kernel density formula, even if the number of grid points is different, the probability density for the same variable x should be the sam

[2022-06-02 07:56] tommyod commented on #111
To gain speed, data is "interpolated" (or "binned") to the grid points. So if you have grid points 0, 1, ... 10, and 100 data points from N(5, 1), then those 100 data points are interpolated to the 11 grid points. Then a convolution is performed. See the code for details if you're curious about how this works.

The more grid points, the better the approximation. As you can see from experiments, yo

[2022-06-02 07:56] #111 closed

[2022-06-02 12:46] diaoyijiao commented on #111
Hey Tom,

Thank you for your prompt reply. I agree with that the more grid points, the better the approximation. However, I am confused by the results obatined by using the KDEpy. e.g., why the two results of probability densites for f(6) in a case when I have a set of grid points (say 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10) and in another case choosing set of grid points (i.e., 0, 2,4,6,8,10) calculate

[2022-07-13 19:49] AlexanderWMacFarlaneIV opened #112 "Cytopy needs KDEpy version 1.0.10, but pip says it doesn't exist."
pip install cytopy gives this error:
The conflict is caused by:
    cytopy 2.0.1 depends on KDEpy==1.0.10
    cytopy 2.0 depends on KDEpy==1.0.10

pip install kdepy==1.0.10 gives this error:
ERROR: Could not find a version that satisfies the requirement kdepy==1.0.10 (from versions: 0.1, 0.2, 0.3, 0.4, 0.5, 0.5.1, 0.5.2, 0.5.3, 0.5.4, 0.5.5, 0.5.6, 0.6, 0.6.9, 0.6.10, 0.6.11, 1.0.2, 1.0.11, 1.1.0)

[2022-07-14 04:43] tommyod commented on #112
It does exist:
https://pypi.org/project/KDEpy/1.0.10/

The error might be due to your python version not being 3.6, 3.7 or 3.8, which is what 1.0.10 is compiled to:
https://pypi.org/project/KDEpy/1.0.10/#files

But I'm not sure. Please check.

What fails?

[2022-07-14 14:43] AlexanderWMacFarlaneIV commented on #112
Thank you Tommyod.

That is it.
I am on Python 3.9.

When I said it fails I meant the pip install fails.

[2022-07-14 14:43] #112 closed

[2022-09-12 10:18] abhishekvalsan-joveo commented on #88
Is this supported now?

[2022-09-12 19:10] tommyod commented on #88
Should work.

is on pypi. https://pypi.org/project/KDEpy/1.1.0/#files

[2022-09-14 09:19] sbieringer opened #113 "Saving NaiveKDE-objects with pickle"
Hi all,

Thanks for the package, it has been a great help! I am using version 1.1.0.
Whenever I try to save a NaiveKDE object with pickle, e.g.

[code]
I get an error of the sort

[code]

This could be easily resolved by changing lines 328-338 to names not coinciding with the function names, e.g.

[code]

[2022-09-14 15:22] tommyod commented on #113
Feel free to add a test and open a pull request on this :) I will would merge it.

[2022-09-30 09:53] pavlin-policar opened #114 "Installation fails on M1 mac"
Hi, I'm having some trouble installing KDEpy on my M1 mac. I've included the install log below. I've seen on pip that you don't provide wheels for M1 ARM processors, but apparently, building from source also fails on this architecture. Am I missing something really obvious?

<details>
<summary>Log</summary>

[code]

</details>

[2022-10-02 08:34] tommyod commented on #114
Seems like [Gh actions](https://github.com/actions/runner-images/issues/2187) don't support M1. I use cibuildwheel, and they also confirm that [Cirrus CI is the first public CI platform that natively supports macOS Apple Silicon](https://github.com/pypa/cibuildwheel#v2100) (so GH actions don't have M1 support). You're on your own basically. Try to use cibuildwheel [like I do here](https://github.c

[2022-10-02 08:48] pavlin-policar commented on #114
I see. Hopefully, M1 support is added to GH actions soon. I was able to install the package locally by just cloning the repository and installing from source. I'm not sure why that worked as opposed to installing from sdist, but hey, it works now. I suppose that since I have cython installed in my environment, this may have re-cythonized the pyx files, but, skimming over the setup code, I can't re

[2022-10-20 12:12] jason1894 opened #117 "How to cite this package"
Dear author:
  I have used this package in my academic paper, but i have no idea about how to cite it.Is there any message like bibtex item?
Can you tell me how to cite it ? thanks

[2022-10-20 13:15] syrte commented on #117
If you use bibtex, I guess you can cite it via zenodo like this
[code]
Wait for the author to confirm.

[2022-10-23 13:27] jason1894 commented on #117
ok,thank you very much! !

[2022-10-23 13:27] #117 closed

[2022-10-23 13:34] jason1894 commented on #54
Hello,have you get the referenc 2D or 3D ? could you show me how to make it ? thanks very much!

[2022-10-23 16:49] tommyod commented on #54
https://kdepy.readthedocs.io/en/latest/examples.html#the-effect-of-norms-in-2d

[2022-10-23 16:50] tommyod commented on #117
That works, yes. Thanks a lot for responding @syrte

[2022-10-25 15:53] gabrieldernbach opened #118 "Grid must be sorted error"
I want to run FFTKDE on a custom 2D grid, and found a related issue here:
Coming from https://github.com/tommyod/KDEpy/issues/15

When I sue the code provided there (with KDEpy Version '1.1.0') I get a grid-must be sorted error
[code]

What is the recommended way to provide grids then?
The documentation only provides a 1D case (`y = FFTKDE().fit(data)(np.linspace(-10, 10, num=2**12))`)

[2022-10-27 07:31] trungnth opened #119 "Custom grid in FFTKDE of 3D (x, y, z) data"
I'm confused how to evaluate kde of 3D (x, y, z) data on a custom grid. I am trying to run below code:

[code]

It shows me this error "**_ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()_**", how can I fix this? My goal is calculate **density** of (x,y,z) data in a custom grid, then create isosurface plot from this custom grid and density. Th

[2022-10-27 12:52] jason1894 commented on #119
the evaluated (xi,yi,zi) should be  an ndarray like (xi,yi,zi)= array([[x1,y1,z1],[x2,y2,z2],[x3,y3,z3]]).

[2022-10-28 11:02] #119 closed

[2022-10-28 11:09] trungnth commented on #118
I'm a python novice but there's an example in 2D case:

[code]

[2022-10-29 18:41] tommyod commented on #118
Thanks @trungnth !

[2022-10-29 18:41] #118 closed

[2022-11-04 01:28] rohan097 commented on #114
@pavlin-policar Could you please share the steps you performed to install the package locally?

[2022-11-04 06:55] pavlin-policar commented on #114
I've don't have the bash logs anymore, but it was probably something along the lines of

[code]
Hope that helps!

[2022-11-04 14:18] rohan097 commented on #114
Thanks! I was able to get it installed.

As a side note, I also had to install the package cython.

[2022-11-08 01:12] marco-rosso-m opened #120 "Return the value of bandwidth defined automatically with ISJ method"
Hi, thanks for the python package it is the best and fast implementation of KDE in python.

However, I was wondering if there is a simple way to return the value of the bandwidth automatically determined from the method ISJ or also from another method. I need to get this value and save it in a variable after run the FFTKDE command.

Thank you in advance

[2022-11-08 19:23] #120 closed

[2022-11-22 09:10] filefolder opened #121 "python3.11 compatibility"
hi there, took me a minute but it seems that enabling py3.11 support is as easy as changing the cython requirement.

e.g. `cython>=0.29.32`

hopefully of some use to anyone

[2022-11-23 16:28] #121 closed

[2022-11-23 18:14] ravigumm commented on #114
Hi @tommyod ,
We are facing similar issues on s390x because of cutils.c file. PR 89 fixes the issue by removing cutils.c and allowing cutils.c to get generated from cutils.pyx during build.
The latest tag is from year 2020. It would help if new release tagging is done in this repo to avoid this issue and use a specific tag/release. Thanks

[2022-11-25 07:25] tommyod commented on #114
I don't use tags anymore. If you need a specific verison, get it from pypi instead. I'll consider tagging future releases if I remember it. But the package is so stable by now that new releases are infrequent.

[2022-11-28 05:55] ravigumm commented on #114
PyPi does not have built wheel file for s390x. So building from source code is tried by pip and that fails because of the bug I mentioned above. So a tag after that fix of removal of cutils.c in PR 89 would help us in using "pip install" on s390x. Thank you